<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
	<key>CFBundleName</key><string>Notorious</string>
	<key>CFBundleExecutable</key><string>Notorious</string>
	<key>CFBundleIdentifier</key><string>com.darkcl.Notorious</string>
	<key>CFBundleVersion</key><string>0.1.0</string>
	<key>CFBundleGetInfoString</key><string>Built by Yeung Yiu Hung</string>
	<key>CFBundleShortVersionString</key><string>0.1.0</string>
	<key>CFBundleIconFile</key><string>appicon</string>
	<key>NSHighResolutionCapable</key><string>true</string>
  <key>LSMinimumSystemVersion</key><string>10.13</string>
</dict></plist>