.editor {
  height: 100%;
}

.editor-page-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.result {
  padding-top: 20px;
  padding-left: 20px;
  flex-grow: 1;
  overflow: auto;
}

.result a {
  color: #3890e0;
}

.CodeMirror {
  height: 100% !important;
  padding-top: 20px;
  padding-left: 20px;
}

.ReactCodeMirror {
  height: 100%;
  font-size: 18px;
  flex-grow: 1;
  overflow: auto;
}

.CodeBlock {
  padding-top: 10px;
}
