.editor {
  height: 100%;
}

.editor-page-content {
  height: 100%;
  overflow: hidden;
}

.result {
  padding-left: 20px;
}

.result a {
  color: #3890e0;
}

.CodeMirror {
  height: 100% !important;
  padding-top: 20px;
  padding-left: 20px;
}

.ReactCodeMirror {
  height: 100%;
}
